name: ci
on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13.11"]
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: latest
          python-version: ${{ matrix.python-version }}
      - run: uv sync --locked --all-packages
      - run: uv run pytest -q
      - uses: codecov/codecov-action@v4
        if: always()
        with:
          fail_ci_if_error: false
